.header {
  width: 100%;
  margin: 32px 0;
  box-sizing: border-box;
}

.heading {
  color: $dark;
  font-family: $menlo;
  font-size: $text-small;
  font-weight: $fw-regular;
  letter-spacing: $ls-sm;
  text-transform: uppercase;
  margin-bottom: 24px;
}
