.header {
  width: 100%;
  box-sizing: border-box;
  margin-top: $space*4;
  padding: $space*3;
  font-family: $assistant;
}

.current-date {
  color: $grey;
  font-family: $menlo;
  font-size: $text-small;
  font-weight: $regular;
  letter-spacing: $ls-sm;
  text-transform: uppercase;
}
