.footer {
  box-sizing: border-box;
  box-shadow: inset 0 1px 0 0 red;
  padding: 24px;
  font-family: $assistant;
  font-size: $text-default;
  letter-spacing: $ls-xs;
  text-align: center;

  &-red {
    color: $red;
  }
}
