.pageOne {
  width: 100%;

  .cool {
    border-bottom: 1px solid $grey;

    .pic {
      width: 100%;
    }
  }

  .pic-caption {
    font-family: $menlo;
    font-size: $text-small;
    font-weight: $fw-regular;
    margin: 32px 0 0 0;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
