.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  font-family: $assistant;
  padding: $space*3;

  a:link {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28px;
    z-index: -1;
    width: 1px;
    content: "";
    background-color: $grey-light;
  }

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-heading {
    font-size: $text-small;
    font-weight: $fw-semibold;
    letter-spacing: $ls-sm;
    text-transform: uppercase;
    margin-left: $space*5;
    margin-bottom: $space*2;
  }
}

.text-mark {
  margin-left: $space;
  padding: 0 $space*2;
  height: 34px;
  font-size: $text-default;
  font-weight: $fw-medium;
  letter-spacing: $ls-md;
  line-height: 34px;
  text-transform: uppercase;
  border: 1px solid $dark;
}

.waffle {
  display: inline;
  margin-bottom: $space*4;
  padding: 6px;
  height: 22px;
  width: 22px;
  border: 1px solid $dark;
  background-color: $pale;

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .dot {
    display: inline-block;
    height: auto;
    width: 4px;
  }

  .circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: $dark;

    &:hover {
      background: $red !important;
      transition: 150ms linear all;
    }
  }
}
