.menuItem {
  display: flex;
  flex-direction: column;
  margin-left: $space*3;
  padding: $space;

  &-title {
    margin-bottom: 0;
    padding: $space;
    font-size: $text-default;
    font-weight: $medium;
    letter-spacing: $ls-sm;
    text-decoration: none;
    text-transform: capitalize;
    color: $dark;

    &:link {
      text-decoration: none;
    }

    &:hover {
      background-color: $light;
      transition: 250ms linear all;
      border-radius: 3px;
      color: $grey;
      cursor: pointer;
    }
  }

  &-description {
    font-size: .9rem;
  }
}
