.menuItem {
  display: flex;
  flex-direction: column;
  margin-left: $space*3;
  padding: $space;

  &-title {
    padding: 0 $space;
    font-size: $text-default;
    font-weight: $medium;
    letter-spacing: $ls-sm;
    line-height: 1.15rem;
    text-transform: capitalize;
    color: $dark;
    transition: 100ms linear all;

    &:hover {
      margin-left: $space/2;
      border-radius: 3px;
      color: $red;
      cursor: pointer;
    }
  }
}
