.menuItem {
  display: flex;
  flex-direction: column;
  margin-left: $space*3;
  padding: $space;

  &-title {
    padding: 0 $space;
    font-size: $text-default;
    font-weight: $medium;
    letter-spacing: $ls-sm;
    text-decoration: none;
    text-transform: capitalize;
    color: $dark;

    &:link {
      text-decoration: none;
    }

    &:hover {
      transition: 300ms linear all;
      border-radius: 3px;
      color: $red;
      cursor: pointer;
    }
  }

  &-description {
    font-size: .9rem;
  }
}
