.exhibit{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;

  &-preview {
    display: block;
    width: 100%;
    padding: $space*4;
    border-top: 1px solid $grey-light;

    &-heading {
      float: left;
      width: 70%;
      font-size: 32px;
      font-family: $assistant;
      font-weight: $fw-bold;
    }

    &-description {
      float: left;
      width: 70%;
      font-weight: $fw-medium;
    }

    &-thumbnail {
      float: right;
      height: 96px;
      width: 96px;
      background-color: $golden;
    }
  }

  &-thumbnail {
    display: inline-block;
    margin: $space*3 $space*3 0 0;
    height: 240px;
    width: 20%;
    min-width: 200px;
    background-color: $golden;
  }
}
