.base {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;

  @media #{$mobileBreakpoint} {
    flex-direction: column-reverse;
  }

  &-left {
    @media #{$mobileBreakpoint} {
      width: 100%;
    }

    width: 280px;
    flex-shrink: 0;
  }

  &-right {
    width: 100%;
    min-width: 25%;
    position: relative;
  }
}
