@import "utilities/index.scss";

.base {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;

  &-left {
    width: 280px;
    flex-shrink: 0;
  }

  &-right {
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .base {
    flex-direction: column-reverse;

    &-left {
      width: 100%;
    }
  }
}
