@import "utilities/index.scss";

body {
  background-color: #f5f4f0;
}

.base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 24px;
  max-width: 528px;
}
